# .gitignore

# Pyverilog outputs
*.out
*parsetab.py 

# Wrappergen outputs
*.v
*.va
*.vhd

# Netlists
*.cir
*.spice 

# Symbols
*.sym

# Compiled files
*.so 
*.osdi

# Verilator outputs
*/*_obj_dir/*

# Add the example folders
!/examples/mixed_sim_netlist/*
!/examples/mixed_sim_xschem/*
!/examples/analog_rc/*
!/examples/analog_speaker/*
!/examples/digital_systemverilog/*
!/examples/digital_verilog/*
!/examples/digital_vhdl/*
