# .gitignore

# Pyverilog outputs
*.out
*parsetab.py 

# Wrappergen outputs
*.v
*.va
*.vhd

# Netlists
*.cir

# Symbols
*.sym

# Compiled files
*.so 
*.osdi

# Verilator outputs
*/*_obj_dir/*

# Add the example folders
!/examples/mixed_sim/*
